{% extends 'base.html.twig' %}

{% block title %}Edit TypesMission{% endblock %}

{% block body %}
    <h1>Edit TypesMission</h1>

    {{ include('types_mission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('types_mission_index') }}">back to list</a>

    {{ include('types_mission/_delete_form.html.twig') }}
{% endblock %}
