{% extends 'base.html.twig' %}

{% block title %}New TypesMission{% endblock %}

{% block main %}
    <h1>Create new TypesMission</h1>

    {{ include('types_mission/_form.html.twig') }}

    <a href="{{ path('types_mission_index') }}">back to list</a>
{% endblock %}
