{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle cible{% endblock %}

{% block main %}
    <h1>Créer une nouvelle cible</h1>

    {{ include('cible/_form.html.twig') }}

    <a href="{{ path('cible_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
