{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle planque{% endblock %}

{% block main %}
    <h1>Créer une nouvelle planque</h1>

    {{ include('planque/_form.html.twig') }}

    <a href="{{ path('planque_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
